/* -- css for wonton admin -- */
.control-label { white-space: nowrap; }
.no-objects-found { color: #777; }
.help-inline { color: #777; }
.has-error .help-inline { color: #a94442; }
.error{ color: #a94442; }
.align-center { text-align: center; }

li.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}
li.list-group-item.arrow-right::after {
    content: '';
    position: absolute;
    border-left: 5px solid #428bca;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    top: 50%;
    margin-top: -10px;
    right: -5px;
    z-index: 1;
}
li.list-group-item.category-plus { padding: 0; }
li.list-group-item.category-plus a { background: #eee; color: #555; display: block; padding: 10px 15px; text-decoration: none; }
li.list-group-item.category-plus a:hover{ background: #5bc0de; color: #fff; }
.btn-delete{
    display: inline;
}
.btn-badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}


/*-- pic upload with image show --*/
.inbox-file{
    position: absolute;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    opacity: 0;
}
.pic-upload {
    width: 100%;
    position: relative;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
    padding: 4px;
    min-height: 100px;
    text-align: center;
}
.pic-upload img{
    width: 100%;
}
.pic-upload .image-info { font-size: 12px; color: #777; }

/*-- Pagination --*/
.pagination a, .pagination span, .pagination em { padding: 5px 10px; border-radius: 3px; }
.pagination a { background: #E8F1FF; color: #555; text-decoration: none; }
.pagination span { background: #eee; color: #bbb; }
.pagination em, .pagination a:hover { background: #428bca; color: #fff; }

/*-- product & product posts --*/
.product-post form{ display: inline; }
.product-post { margin-bottom: 10px; text-align: center; padding: 4px; border: 1px solid #ccc; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); }
.product-post.editing { border: 1px solid #a94442;}
.product-post .pic-upload { padding: 0; border: none; box-shadow: none; margin-bottom: 5px; }
.product-post .pic-upload .image-info { display: none; position: absolute; top: 0; width: 100%; font-size: 12px; color: #fff; background: #000; opacity: 0.7; }
.product-post:hover .image-info { display: block; }
.product-post-btn { width: 32%; }