<ul class="nav nav-tabs">
    <li> <%= link_to tag_icon(:list, pat(:list)), url(:products, :index) %></li>
    <li> <%= link_to tag_icon(:plus, pat(:new)), url(:products, :new) %></li>
    <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:products, :edit, :id => @product.id) %></li>
</ul>
<div class="tabs-content">
    <% form_for :product, url(:products, :update, :id => @product.id), :method => :put, :class => 'form-horizontal' do |f| %>
        <div class="col-xs-12">
            <%= partial 'products/form', :locals => { :f => f } %>
        </div>
    <% end %>
</div>