<ul class="nav nav-tabs">
    <li> <%= link_to tag_icon(:list, t(:list)), url(:products, :index) %></li>
    <li> <%= link_to tag_icon(:signal, t(:chart)), url(:products, :pv_rank) %></li>
    <li class="active"> <%= link_to tag_icon(:plus, t('action.new')), url(:products, :new) %></li>
</ul>
<div class="tabs-content">
    <div class="row">
        <% form_for :product, url(:products, :create), :multipart => true, :class => 'form-horizontal' do |f| %>
            <%= partial 'form', :locals => { :f => f } %>
        <% end %>
    </div>
</div>