<%= partial 'shared/header', :locals => { :active => 'company' } %>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <p class="intro-text first-section">宁波江北汇园包装礼品厂创建于1999年，位于中国宁波江北工业区，我们专业生产各国节日装饰佩戴用品，各种舞会活动用品，多款流行草帽礼帽和运动帽等制品。成套的生产设备和日益完善的管理，可满足市场不同层次的需求，为您提供高品质的保证。</p>
            <p class="intro-text">公司拥有一支高素质设计队伍，可为客人提供从产品创意设计、生产一条龙服务。并有专业人员收集信息及研发制作，不断反馈信息给客户，互相带动提升，不断创造价值。在工厂管理上，勇于创新，锐意改革，并追求高效、节能、保质、保期的经营理念。始终坚持“持续改善、追求卓越、客户满意、永续经营”的品质方针，以使每件产品制作规范，手工精致。</p>
            <p class="intro-text">我们的承诺：至优的价格，至上的品质，准时的货期，汇园包装礼品厂愿成为您信赖的合作伙伴。</p>
        </div>
        <div class="col-xs-6">
            <%= image_tag 'company_pic1.png', :style => 'width: 640px; margin-top: 56px;' %>
        </div>
    </div>
</div>