<%= partial 'shared/header', :locals => { :active => 'company' } %>

<div class="container">
    <h1 style="text-align: center; color: #777;">该页面待定</h1>
    <%= image_tag 'dev-企业介绍.png', :style => 'width: 100%;' %>
</div>