<!-- Page Wrapper -->
<div id="page_wrapper">
  <!-- Header style 1 -->
  <header id="header" class="site-header style1 cta_button">
    <!-- header bg -->
    <div class="kl-header-bg"></div>
    <!--/ header bg -->

    <!-- siteheader-container -->
    <div class="container siteheader-container">
      <!-- top-header -->
      <div class="kl-top-header clearfix">
        <!-- HEADER ACTION -->
        <div class="header-links-container ">

        </div>
        <!--/ HEADER ACTION -->

        <!-- HEADER ACTION left -->
        <div class="header-leftside-container ">
          <div class="clearfix visible-xxs">
          </div>

          <!-- header contact text -->
          <span class="kl-header-toptext">您有问题要问汇园包装礼品厂？请直接拨打: <a href="#" class="fw-bold">+86 (0) 133-5599-4425</a></span>
          <!--/ header contact text -->
        </div>
        <!--/ HEADER ACTION left -->
      </div>
      <!--/ top-header -->

      <!-- separator -->
      <div class="separator"></div>
      <!--/ separator -->

      <!-- left side -->
      <!-- logo container-->
      <div class="logo-container logosize--yes">
        <!-- Logo -->
        <h1 class="site-logo logo " id="logo">
          <a href="#">
            <img src="images/hy-logo.png" class="logo-img" alt="汇园包装礼品厂" title="汇园包装礼品厂" />
          </a>
        </h1>
        <!--/ Logo -->
      </div>
      <!--/ logo container-->

      <!-- separator -->
      <div class="separator visible-xxs"></div>
      <!--/ separator -->

      <!-- responsive menu trigger -->
      <div id="zn-res-menuwrapper">
        <a href="#" class="zn-res-trigger zn-header-icon"></a>
      </div>
      <!--/ responsive menu trigger -->

      <!-- main menu -->
      <div id="main-menu" class="main-nav zn_mega_wrapper ">
        <ul id="menu-main-menu" class="nav main-menu">
          <li class="active">
            <a href="#">首页</a>
          </li>
          <li>
            <a href="#aboutus">关于我们</a>
          </li>
          <li>
            <a href="#contact">联系我们</a>
          </li>
          <li>
            <a href="products.pdf">产品展示</a>
          </li>
          <li>
            <%= link_to 'ENGLISH', url(:home, :en) %>
          </li>
        </ul>
      </div>
      <!--/ main menu -->
    </div>
    <!--/ siteheader-container -->
  </header>
  <!-- / Header style 1 -->


  <!-- Slideshow - iOS Slider element with animateme scroll efect, custom height and bottom mask style 2 -->
  <div class="kl-slideshow iosslider-slideshow uh_light_gray maskcontainer--shadow_ud iosslider--custom-height scrollme">
    <!-- Loader -->
    <div class="kl-loader">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewbox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve"><path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"></path><path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z" transform="rotate(98.3774 20 20)"><animatetransform attributetype="xml" attributename="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatcount="indefinite"></animatetransform></path></svg>
    </div>
    <!-- Loader -->

    <div class="bgback">
    </div>

    <!-- Animated Sparkles -->
    <div class="th-sparkles">
    </div>
    <!--/ Animated Sparkles -->

    <!-- iOS Slider wrapper with animateme scroll efect -->
    <div class="iosSlider kl-slideshow-inner animateme" data-trans="3000" data-autoplay="1" data-infinite="true" data-when="span" data-from="0" data-to="0.75" data-translatey="300" data-easing="linear">
      <!-- Slides -->
      <div class="kl-iosslider hideControls">
        <!-- Item #1 -->
        <div class="item iosslider__item">
          <div class="slide-item-bg vertical-pos--top" style="background-image:url(images/slider1.jpg);">
          </div>
          <div class="kl-slide-overlay">
          </div>
          <div class="container kl-iosslide-caption kl-ioscaption--style4 s4ext fromleft klios-alignleft kl-caption-posv-middle">
            <div class="animateme" data-when="span" data-from="0" data-to="0.75" data-opacity="0.1" data-easing="linear">
              <h1 class="main_title has_titlebig "><span>2019年1月7日至10日香港国际玩具展&nbsp;<strong style="color:#00A0E9;">汇园包装礼品厂</strong>&nbsp;期待您的惠顾！</span></h1>
              <h3 class="title_big">汇园包装礼品厂&nbsp;<strong style="color:#00A0E9;">第45届香港国际玩具展</strong>&nbsp;展位号 3EE38</h3>
              <!--<a class="more" href="#aboutus" target="_self">查看线路详情</a>
              <h4 class="title_small">塑料帽子，工艺礼品，PVC包装，磁片像框，纸制品，复合帽子，无纺布帽子，应有尽有！</h4>-->
            </div>
          </div>
        </div>
        <!--/ Item #1 -->

        <!-- Item #2 -->
        <div class="item iosslider__item">
          <div class="slide-item-bg vertical-pos--top" style="background-image:url(images/slider2.jpg);">
          </div>
          <div class="kl-slide-overlay">
          </div>
          <div class="container kl-iosslide-caption kl-ioscaption--style4 s4ext fromleft klios-alignleft kl-caption-posv-middle">
            <div class="animateme" data-when="span" data-from="0" data-to="0.75" data-opacity="0.1" data-easing="linear">
              <h1 class="main_title has_titlebig "><span>2019年3月2日至5日&nbsp;<strong style="color:#FFE109;">汇园包装礼品厂</strong>&nbsp;期待您的惠顾！</span></h1>
              <h3 class="title_big">汇园包装礼品厂将于&nbsp;<strong style="color:#FFE109;">2019芝加哥家庭用品展</strong>&nbsp;闪亮登场！</h3>
              <!--<a class="more" href="#surprise-2" target="_self">查看线路详情</a>
              <h4 class="title_small">更加贴近顾客对于3-4罐 / 3-5盒小包奶粉的寄运需求，一如既往的高时效！</h4>-->
            </div>
          </div>
        </div>
        <!--/ Item #2 -->

        <!-- Item #3 -->
        <div class="item iosslider__item">
          <div class="slide-item-bg vertical-pos--top" style="background-image:url(images/slider3.jpg);">
          </div>
          <div class="kl-slide-overlay">
          </div>
          <div class="container kl-iosslide-caption kl-ioscaption--style4 s4ext fromleft klios-alignleft kl-caption-posv-middle">
            <div class="animateme" data-when="span" data-from="0" data-to="0.75" data-opacity="0.1" data-easing="linear">
              <h1 class="main_title has_titlebig "><span><strong style="color:#F7FF1E;">汇园礼品，&nbsp;让每一个快乐的时刻更精彩！</strong></span></h1>
              <!--<h3 class="title_big">汇园包装礼品厂&nbsp;<strong style="color:#FFE109;">芝加哥家庭用品展</strong>&nbsp;展位号 E88</h3>
              <a class="more" href="#surprise-2" target="_self">查看线路详情</a>
              <h4 class="title_small">更加贴近顾客对于3-4罐 / 3-5盒小包奶粉的寄运需求，一如既往的高时效！</h4>-->
            </div>
          </div>
        </div>
        <!--/ Item #3 -->

      </div>
      <!--/ Slides -->

      <!-- Navigation Controls - Prev -->
      <div class="kl-iosslider-prev">
        <!-- Arrow -->
        <span class="thin-arrows ta__prev"></span>
        <!--/ Arrow -->

        <!-- Label - prev -->
        <div class="btn-label">
          PREV
        </div>
        <!--/ Label - prev -->
      </div>
      <!--/ Navigation Controls - Prev -->

      <!-- Navigation Controls - Next -->
      <div class="kl-iosslider-next">
        <!-- Arrow -->
        <span class="thin-arrows ta__next"></span>
        <!--/ Arrow -->

        <!-- Label - next -->
        <div class="btn-label">
          NEXT
        </div>
        <!--/ Label - next -->
      </div>
      <!--/ Navigation Controls - Prev -->
    </div>
    <!--/ iOS Slider wrapper with animateme scroll efect -->

    <!-- Bullets -->
    <div class="kl-ios-selectors-block bullets2">
      <div class="selectors">
        <!-- Item #1 -->
        <div class="item iosslider__bull-item">
        </div>
        <!--/ Item #1 -->

        <!-- Item #2 -->
        <div class="item iosslider__bull-item">
        </div>
        <!--/ Item #2 -->

        <!-- Item #3 -->
        <div class="item iosslider__bull-item">
        </div>
        <!--/ Item #3 -->
      </div>
      <!--/ .selectors -->
    </div>
    <!--/ Bullets -->

    <div class="scrollbarContainer">
    </div>

    <!-- Bottom mask style 2 -->
    <div class="kl-bottommask kl-bottommask--shadow_ud">
    </div>
    <!--/ Bottom mask style 2 -->
  </div>
  <!--/ Slideshow - iOS Slider element with animateme scroll efect, custom height and bottom mask style 2 -->

  <!-- Action Box - Style 3 section with custom top padding -->
  <section class="hg_section ptop-0 pbottom-60">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="action_box style3" data-arrowpos="center" style="margin-top:-25px;">
            <div class="action_box_inner">
              <div class="action_box_content">
                <div class="ac-content-text">
                  <!-- Title -->
                  <h4 class="text"><span class="fw-thin">至优的价格，至上的品质，准时的货期！</span></h4>
                  <!--/ Title -->

                  <!-- Sub-Title -->
                  <h5 class="ac-subtitle">汇园包装礼品厂愿成为您信赖的合作伙伴！</h5>
                  <!--/ Sub-Title -->
                </div>

                <!-- Call to Action buttons -->
                <div class="ac-buttons">
                  <a class="btn btn-lined ac-btn" href="products.pdf" target="_blank">汇园参加香港国际玩具展产品目录</a><a class="btn btn-fullwhite ac-btn" href="#aboutus">汇园包装礼品厂简介</a>
                </div>
                <!--/ Call to Action buttons -->
              </div>
              <!--/ action_box_content -->
            </div>
            <!--/ action_box_inner -->
          </div>
          <!--/ action_box style3 -->
        </div>
        <!--/ col-md-12 col-sm-12 -->
      </div>
      <!--/ row -->
    </div>
    <!--/ container -->
  </section>
  <!--/ Action Box - Style 3 section with custom top padding -->

  <!-- aboutus section with custom paddings -->
  <section id="aboutus" class="hg_section ptop-120 pbottom-60">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <!-- Title element with custom bottom padding -->
          <div class="kl-title-block clearfix text-center tbk-symbol--icon tbk--colored tbk-icon-pos--after-title pbottom-30">
            <!-- Title with montserrat font, custom size, gray color and bold style -->
            <h3 class="tbk__title montserrat fs-38 fw-bold" style="color:#0096D4;">企业介绍</h3>
            <!--/ Title -->

            <div class="hg_separator"></div>

            <!-- Sub-title with custom font size and lightgray color -->
            <h4 class="tbk__subtitle fs-18 light-gray"><span style="color:#CD2122; font-weight:bold;">至优的价格，至上的品质，准时的货期，汇园包装礼品厂愿成为您信赖的合作伙伴!</span></h4>
          </div>
          <!--/ Title element with custom bottom padding -->
        </div>
        <!--/ col-md-12 col-sm-12 -->

        <div class="col-md-12 col-sm-12">
          <h4>宁波江北汇园包装礼品厂创建于1999年，位于中国宁波江北工业区，专业生产各种PVC帽子、软磁像框、磁片冰箱贴、各种PVC包装以及各种工艺礼品。成套的生产设备和日益完善的管理，可满足市场不同层次的需求，为您提供高品质的保证。</h4>
          <h4>公司拥有一支高素质设计队伍，可为客人提供从产品创意设计、生产一条龙服务。并有专业人员收集信息及研发制作，不断反馈信息给客户，互相带动提升，不断创造价值。在工厂管理上，勇于创新，锐意改革，并追求高效、节能、保质、保期的经营理念。始终坚持“持续改善、追求卓越、客户满意、永续经营”的品质方针，以使每件产品制作规范，手工精致。 </h4>
          <h4>我们的承诺：至优的价格，至上的品质，准时的货期，汇园包装礼品厂愿成为您信赖的合作伙伴。</h4>
        </div>
        <!--/ Page title & Subtitle-->

      </div>
      <!--/ row -->


    </div>
    <!--/ container -->
  </section>
  <!--/ Services section with custom paddings -->

  <!-- Section  -->
  <section id="contact" class="hg_section pt-30">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Title element with custom bottom padding -->
          <div class="kl-title-block clearfix text-center tbk-symbol--icon tbk--colored tbk-icon-pos--after-title pbottom-30 pt-100">
            <!-- Title with montserrat font, custom size, gray color and bold style -->
            <h3 class="tbk__title montserrat fs-38 fw-bold pb-20" style="color:#0096D4;">联系我们</h3>
            <!--/ Title -->

            <!-- Title bottom icon symbol = .glyphicon-option-horizontal / custom size and lightgray color -->
            <div class="pb-20">
              <img style="width:300px; text-align:center;" src="images/logo-slogan.jpg">
            </div>
            <!--/ Title bottom icon symbol -->

            <!-- Sub-title with custom font size and lightgray color -->
            <h4 class="tbk__subtitle fs-18" style="color:#E70012;">让每一个快乐的时刻更精彩！</h4>


          </div>
          <!--/ Title element with custom bottom padding -->

        </div>
        <!--/ col-sm-12 -->
      </div>
      <!--/ row -->
    </div>
    <!--/ container -->
  </section>
  <!--/ Section -->


  <!-- Contact section with white background color and custom top padding + Bottom mask shadow simple down style  -->
  <section class="hg_section--relative bg-white ptop-65">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <!-- Text box -->
          <div class="text_box">
            <p style="text-align:center;">
              <strong>联系电话</strong><br>
              +49 (0) 133-5599-4425
            </p>
          </div>
          <!--/ Text box -->
        </div>
        <!--/ col-md-4 col-sm-4 -->

        <div class="col-md-4 col-sm-4">
          <!-- Text box -->
          <div class="text_box">
            <p style="text-align:center;">
              <strong>公司地址</strong><br>
              浙江宁波庄桥新桥二路 (315032)
            </p>
          </div>
          <!--/ Text box -->
        </div>
        <!--/ col-md-4 col-sm-4 -->

        <div class="col-md-4 col-sm-4">
          <!-- Text box -->
          <div class="text_box">
            <p style="text-align:center;">
              <strong>电子邮件</strong><br>
              info@partyali.com
            </p>
          </div>
          <!--/ Text box -->
        </div>
        <!--/ col-md-4 col-sm-4 -->
      </div>
      <!--/ row -->
    </div>
    <!--/ container -->

    <!-- Bottom mask shadow simple down style -->
    <div class="kl-bottommask kl-bottommask--shadow_simple_down">
    </div>
    <!--/ Bottom mask shadow simple down style -->
  </section>
  <!--/ Contact section with white background color and custom top padding + Bottom mask shadow simple down style  -->


  <!-- Footer - One Page style -->
  <footer id="footer" class="one-page-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="bottom clearfix">
            <!-- Bottom right side -->
            <div class="pull-right">
              <!-- Logo home link -->
              <a href="index.html">
                <!-- Logo image -->
                <img src="images/hy-logo.png" width="115" height="37" alt="汇园包装礼品厂" title="汇园包装礼品厂" />
              </a>
            </div>
            <!--/ Bottom right side -->

            <!-- Copyright -->
            <div class="copyright">

              <!-- Copyright text -->
              <p>Ningbo Jiangbei Huiyuan Gifts and Packing Manufactory © 2018 All rights reserved.</p>
            </div>
            <!-- Copyright -->
          </div>
          <!--/ bottom -->
        </div>
        <!--/ col-sm-12 -->
      </div>
      <!--/ row -->
    </div>
    <!--/ container -->
  </footer>
  <!--/ Footer - One Page style -->
</div>
<!--/ Page Wrapper -->

<!-- ToTop trigger -->
<a href="#" id="totop">TOP</a>
<!--/ ToTop trigger -->

<%= partial 'index_extra_js' %>