<ul class="nav nav-tabs">
    <li> <%= link_to tag_icon(:list, pat(:list)), url(:customers, :index) %></li>
    <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:customers, :new) %></li>
</ul>
<div class="tabs-content">
    <% form_for :customer, url(:customers, :create), :class => 'form-horizontal' do |f| %>
        <%= partial 'form', :locals => { :f => f } %>
    <% end %>
</div>