<%= partial 'shared/header', :locals => { :active => 'product' } %>

<div class="product-bg"></div>
<div class="product-bgleft"></div>
<div class="product-bgright"></div>

<div class="container">
    <!-- product_navbar -->
    <%= partial :navbar, :locals => { :active => 'collections' } %>

    <div id="showcases" class="row">
        <% @products.each do |product| %>
            <%= partial 'showcase', :locals => { :product => product, :new_arrival => false } %>
        <% end %>
    </div>
    <div align="right">
        <%= will_paginate @products %>
    </div>
</div>