<%= partial 'shared/header', :locals => { :active => 'account' } %>

<div class="container">
    <% form_for :account, url(:accounts, :update_my_account), :method => :put, :class => 'form-horizontal', :style => 'margin-top: 20px;' do |f| %>
        <%= partial 'form', :locals => { :f => f } %>
    <% end %>
</div>