<ul class="nav nav-tabs">
    <li class="active"> <%= link_to tag_icon(:list, t(:list)), url(:product_categories, :index) %></li>
    <li> <%= link_to tag_icon(:plus, t(:new_product_category, :grade => 1)), url(:product_categories, :new) %></li>
</ul>

<div class="tabs-content">

    <div class="row">
        <div class="col-xs-4">
            <ul class="list-group" id="category_wrapper_1">
                <% @main_categories.each do |category| %>
                    <%= partial :list_unit, :locals => { :category => category } %>
                <% end %>
                <%= partial :list_unit_plus, :locals => { :category => nil } %>
            </ul>
        </div>

        <div class="col-xs-4">
            <ul class="list-group" id="category_wrapper_2">

            </ul>
        </div>
        <div class="col-xs-4">
            <ul class="list-group" id="category_wrapper_3">

            </ul>
        </div>
    </div>
</div>

<script>
    function get_sub_categories(category_id){
        var wrapper_2 = $('#category_wrapper_2');
        var wrapper_3 = $('#category_wrapper_3');
        $.ajax({
            type: 'GET',
            dataType: 'json',
            async: false,
            url: '/admin/product_categories/' + category_id + '/children?remote=true',
            success: function(data){
                if(data.status == 'succ'){
                    var parent_grade = data.parent['grade'];
                    if(parent_grade == 1){
                        wrapper_3.html('');
                        wrapper_2.html(data.html);
                    }else if(parent_grade == 2){
                        wrapper_3.html(data.html)
                    }
                    category_active(parent_grade, category_id);
                }else{
                    alert(data.reason);
                }
            }
        });
    }
    function category_active(grade, category_id){
        var categories = $('.category-grade-' + grade);
        for(i=0;i<categories.length;i++){
            $(categories[i]).removeClass('active arrow-right');
        }
        $('#category_' + category_id).addClass('active arrow-right');
    }
</script>
